[Unit]
Description=Rclone bisync Obsidian vault with Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync gdrive:Obsidian /home/viktorlacharo/Obisidan
