.cache/
.local/
.cargo/
.npm/
.java/
.bash_history
.bash_logout
.bash_profile
.XCompose
.pulse-cookie
.pki/
.netExtender.log
.netExtenderCerts/
.netextender
.vpn_secret
.parsec/
.parsec-persistent/
.lmstudio/
.lmstudio-home-pointer
.steam/
.steampath
.steampid

.cursor/

.config/Cursor/logs/
.config/obsidian/*/
.config/obsidian/*.json
.config/obsidian/*.log
.config/obsidian/Singleton*
.config/obsidian/TransportSecurity
.config/Notes/Notes/*.md

.config/dconf/user
.config/ibus/bus/

.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json

Desktop/
Downloads/
Pictures/
Projects/
Work/

.dotfiles.git/
